<div class="app-layout">
  <!-- Left sidebar: document list -->
  <app-document-list></app-document-list>

  <!-- Center area: toolbar + viewer + pagination -->
  <div class="center-panel">
    <app-toolbar
      (openExportDialog)="openExportDialog()"
      (openCrossRefDialog)="openCrossRefDialog()">
    </app-toolbar>

    <app-viewer></app-viewer>

    <app-pagination></app-pagination>
  </div>

  <!-- Right sidebar: thumbnail panel -->
  <app-thumbnail-panel (pageSelected)="onPageSelected($event)"></app-thumbnail-panel>
</div>

<!-- Dialogs -->
<app-export-dialog [(visible)]="showExportDialog"></app-export-dialog>
<app-cross-ref-dialog [(visible)]="showCrossRefDialog"></app-cross-ref-dialog>
