<div class="pagination-bar" *ngIf="currentFile">
  <div class="page-controls">
    <button class="page-btn" (click)="firstPage()" [disabled]="currentPage <= 1" title="First Page">
      &#9664;&#9664;
    </button>
    <button class="page-btn" (click)="previousPage()" [disabled]="currentPage <= 1" title="Previous Page">
      &#9664;
    </button>

    <span class="page-info">
      Page
      <input class="page-input" type="text"
             [(ngModel)]="goToPageInput"
             (keyup.enter)="goToPage()"
             (blur)="goToPage()" />
      of {{ totalPages }}
    </span>

    <button class="page-btn" (click)="nextPage()" [disabled]="currentPage >= totalPages" title="Next Page">
      &#9654;
    </button>
    <button class="page-btn" (click)="lastPage()" [disabled]="currentPage >= totalPages" title="Last Page">
      &#9654;&#9654;
    </button>
  </div>

  <div class="zoom-info">
    {{ zoomPercent }}%
  </div>
</div>
